@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>*@
<form class="login-form" method="post">
	<h1>Вход в систему</h1>
	<div class="content">
		<div class="input-field">
			<input type="text" placeholder="Логин" autocomplete="nope">
		</div>
		<div class="input-field">
			<input type="password" placeholder="Пароль" autocomplete="	new-password">
		</div>
		<a href="#" class="link">Забыли пароль?</a>
	</div>
	<div class="action">
		<!-- <input type="submit" name="registration" class="button" value="Регистрация"/>	 -->
		<input type="submit" name="enter" class="button" value="Войти" />
	</div>
</form>