@using WebApplication3.Models.FilterModels;
@model FilterModelDTO


<div class="criterias">
    <span>Раставьте критерии оценки маршрутов по важности, где 1  - самый важный, а 7 - самый не важный:</span>

    <div class="criteria">
        <p>Преодолеваемое расстояние:</p>
        <input type="text" name="first">
    </div>
    <div class="criteria">
        <p>Время прохождения маршрута:</p>
        <input type="text" name="second">
    </div>
    <div class="criteria">
        <p>Среднее время перемещения между пунктами маршрута:</p>
        <input type="text" name="third">
    </div>
    <div class="criteria">
        <p>Количество отзывов:</p>
        <input type="text" name="fourth">
    </div>
    <div class="criteria">
        <p>Рейтинг по отзывам:</p>
        <input type="text" name="fifth">
    </div>
    <div class="criteria">
        <p>Средняя рейтинговая оценка маршрута:</p>
        <input type="text" name="sixth">
    </div>
    <div class="criteria">
        <p>Количество мест в маршруте:</p>
        <input type="text" name="seventh">
    </div>
</div>